.prompt {
  /*border: blue 1px solid;*/
  background-color: white;
  opacity: 0.8;
  width: 300px;
  margin: auto;
  padding: 10px;
}

.content-parent {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmation-not {
  opacity: 0.5;
}

.brewing {
  opacity: 0.5;
}
