<div class="rounded prompt content-parent">

<!--  <label class="btn-primary" ngbButtonLabel>-->
<!--    <input class="btn-check" (click)="this.updateState()">getState-->
<!--  </label>-->

  <div style="margin-top: 20px">
    <p>state: {{this.machine.info.state}}</p>
    <p>type: {{this.machine.info.detail.type}}</p>
    <p>step: {{this.machine.info.detail.step}}</p>
    <p>position: {{this.machine.info.detail.position}}</p>
  </div>

  <label class="btn-success" ngbButtonLabel [ngClass]="{'confirmation-not' : !this.confirmationNeeded()}">
    <input class="btn-check"  (click)="this.confirmState()" [disabled]="!confirmationNeeded()" >Next
  </label>
  <div style="margin-top: 20px">
    <label class="btn-success" ngbButtonLabel [ngClass] = "{'brewing': this.isBrewing()}">
      <input class="btn-check" [disabled]="this.isBrewing()" (click)="this.startBrewing()">Start Brewing
    </label>
  </div>
</div>
