.toast {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background: #fff;
  color: white;
  opacity: 0.8;
  height: 50px;
}

.warning {
  background: #D8000C;
}

.success {
  background: green;
}
