.content-parent {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.temperature {
  background-color: white;
  width: 700px;
  margin: auto auto 20px;
  opacity: 0.8;
}
.list {
  overflow: auto;
  max-height: 300px;
}
