<div class="content-parent rounded">
  <div class="temperature rounded" *ngFor="let temp of this.temperatureRecorders; let i = index">
    <p>{{temp.brewState}}</p>
<!--    <div class="list" >-->
<!--      <p *ngFor="let entry of temp.progress;">-->
<!--        {{entry.timestamp}} : {{entry.temperature}}-->
<!--      </p>-->
<!--    </div>-->
    <app-chart [id]=i [data]="temp.progress"></app-chart>
  </div>
</div>
